   <!-- start preloader -->
<div id="loader-wrapper">
    <div class="logo"></div>
    <div id="loader">
    </div>
</div>
<!-- end preloader -->
<!-- header area start -->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="logo-area">
                    <a href="/Home/Index"><img src="~/Content/img/iakademi43.png" alt="logo" /> </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="top-nav-area">
                    <ul>

                        <li>
                            <a href="@Url.Action("enyeniler","Home")">
                                <i class="fa fa-neuter"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        En yeniler
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("indirimliurunler","Home")">
                                <i class="fa fa-bitcoin"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        indirimli ürünler
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("onecikanlar","Home")">
                                <i class="fa fa-heart"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        öne çıkanlar
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("coksatanlar","Home")">
                                <i class="fa fa-neuter"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        cok satanlar
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("siparislerim","Home")">
                                <i class="fa fa-mail-reply-all"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        En yeniler
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("enyeniler","Home")">
                                <i class="fa fa-neuter"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        En yeniler
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("sepetim","Home")">
                                <i class="fa fa-neuter"></i>
                                <div class="nav-select">
                                    <div class="text_menu">
                                        sepetim
                                    </div>
                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("ozelurunler","Home")">
                                <div class="cart_area">
                                    <i class="fa fa-reply-all"></i>
                                    <div class="nav-select">
                                        <div class="text_menu">
                                            cart
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="cart-sub">
                                <div class="all-cart">
                                    <p>1x <a href="index.html#">Sollicitudin Rhoncus</a> <span>$150.00</span> </p>
                                    <p>2x <a href="index.html#">Sollicitudin Rhoncus</a> <span>$600.00</span> </p>
                                </div>
                                <h3>3 product<span>Total <span>$1350.00</span></span></h3>
                                <div class="sub-button">
                                    <a href="@Url.Action("sepetim","Home")">Show Cart</a>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


