<!doctype html>
<html class="no-js" lang="">
<head>
    <!-- Basic page needs
    ============================================ -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lilama - Mega Shop Responsive HTML5 Template</title>
    <meta name="description" content="">
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/fav_icon.ico">
    <!--All Fonts  Here -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

    <!-- ALL CSS FILES HERE -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <!-- fancybox CSS -->
    <link rel="stylesheet" href="/Content/css/fancybox/jquery.fancybox.css">
    <!--bxslider CSS -->
    <link rel="stylesheet" href="/Content/css/jquery.bxslider.min.css">
    <!-- owl.carousel CSS-->
    <link rel="stylesheet" href="/Content/css/owl.carousel.css">
    <!-- owl.carousel transitions CSS-->
    <link rel="stylesheet" href="/Content/css/owl.transitions.css">
    <!-- owl.theme CSS-->
    <link rel="stylesheet" href="/Content/css/owl.theme.css">
    <!-- rs-plugin CSS -->
    <!-- slider revolution css settings -->
    <link rel="stylesheet" type="text/css" href="/Content/lib/rs-plugin/css/settings.css" media="screen" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/Content/css/animate.css">
    <!-- jquery-ui-->
    <link rel="stylesheet" href="/Content/css/jquery-ui.css">
    <!-- css for mobile menu-->
    <link rel="stylesheet" href="/Content/css/mobile_menu.min.css">
    <!-- normalize CSS -->
    <link rel="stylesheet" href="/Content/css/normalize.css">
    <!-- main CSS -->
    <link rel="stylesheet" href="/Content/css/main.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/Content/style.css">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <!-- modernizr js -->
    <script src="/Content/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jquery js -->
    <script src="/Content/js/vendor/jquery-1.11.3.min.js"></script>


</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @Html.Partial("~/Views/Partial/_header.cshtml")

    @Html.Partial("~/Views/Partial/_menu.cshtml")

    @RenderBody()

    @Html.Partial("~/Views/Partial/_footer.cshtml")

    <!-- ALL JS FILES HERE -->
    <!-- price_slider js -->
    <script src="/Content/js/price_slider.js"></script>
    <!-- bootstrap js -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- owl.carousel.min js -->
    <script src="/Content/js/owl.carousel.min.js"></script>
    <!-- slicknav js -->
    <script src="/Content/js/jquery.mobilemenu.js"></script>
    <!-- parallax js -->
    <script src="/Content/js/parallax.js"></script>
    <!-- treeview js -->
    <script src="/Content/js/jquery.treeview.js"></script>
    <!-- jquery mixitup js -->
    <script src="/Content/js/jquery.mixitup.min.js"></script>
    <!-- jquery.scrollUp js -->
    <script src="/Content/js/jquery.scrollUp.min.js"></script>
    <!-- jquerye levatezoom js -->
    <script src="/Content/js/jquery.elevatezoom.js"></script>
    <!-- jquerye countdown js -->
    <script src="/Content/js/countdown.js"></script>
    <!-- jquery fancybox js -->
    <script src="/Content/js/jquery.fancybox.pack.js"></script>
    <!-- jquery bx-slider js -->
    <script src="/Content/js/bx-slider.min.js"></script>
    <!-- jquery.easing js -->
    <script src="/Content/js/jquery.easing.1.3.min.js"></script>
    <!--RS Lib js -->
    <script type="text/javascript" src="/Content/lib/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/Content/lib/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/Content/js/rs-slider.js"></script>
    <!-- jquery.appear js -->
    <script src="/Content/js/jquery.appear.js"></script>
    <!-- wow js -->
    <script src="/Content/js/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- plugins js -->
    <script src="/Content/js/plugins.js"></script>
    <!-- main js -->
    <script src="/Content/js/main.js"></script>

</body>
</html>


<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f47e1e;
        opacity: 0.5;
        filter: alpha(opacity=50);
        z-index: 21474836474;
    }

    #modal {
        position: absolute;
        background: url(~/Content/img/tint20.png) 0 0 repeat;
        background: white;
        border-radius: 14px;
        padding: 10px;
        z-index: 21474836474;
    }

    #content {
        min-width: 650px;
        min-height: 120px;
        border-radius: 10px;
        background: black;
        padding: 30px 40px 20px 120px;
        color: white;
        font-size: 25px;
        z-index: 21474836474;
    }

    #close {
        position: absolute;
        background: url(~/Content/img/kapat.png);
        width: 47px;
        height: 47px;
        display: block;
        top: 10px;
        right: 5px;
        z-index: 21474836474;
        color: white;
    }
</style>


@{

    if (Session["Mesaj"] != null && Session["Mesaj"].ToString() != "")
    {
        <text>
            <script type="text/javascript">
    $(document).ready(function () {
        modal.open({ content: "@Session["Mesaj"].ToString()" });
    });
            </script>
        </text>
        Session["Mesaj"] = "";
    }

}

<script>
    var modal = (function () {
        var
            method = {},
            $overlay,
            $modal,
            $content,
            $close;

        // Center the modal in the viewport
        method.center = function () {
            var top, left;

            //ekrana cıkan popup penceresinin konumunu belirler
            top = Math.max($(window).height() - $modal.outerHeight(), 0) / 2;
            // top = 380;
            left = Math.max($(window).width() - $modal.outerWidth(), 0) / 4;
            //  left =  10;

            $modal.css({
                top: top + $(window).scrollTop(),
                left: left + $(window).scrollLeft()
            });
        };

        // Open the modal
        method.open = function (settings) {
            $content.empty().append(settings.content);

            $modal.css({
                width: settings.width || 'auto',
                height: settings.height || 'auto'
            });

            method.center();
            $(window).bind('resize.modal', method.center);
            $modal.show();
            $overlay.show();
        };

        // Close the modal
        method.close = function () {
            $modal.hide();
            $overlay.hide();
            $content.empty();
            $(window).unbind('resize.modal');
        };

        // Generate the HTML and add it to the document
        $overlay = $('<div id="overlay"></div>');
        $modal = $('<div id="modal"></div>');
        $content = $('<div id="content"></div>');
        $close = $('<a id="close" href="#">kapat</a>');

        $modal.hide();
        $overlay.hide();
        $modal.append($content, $close);

        $(document).ready(function () {
            $('body').append($overlay, $modal);
        });

        $close.click(function (e) {
            e.preventDefault();
            method.close();
        });

        return method;
    }());

    // Wait until the DOM has loaded before querying the document
    $(document).ready(function () {

        //$.get('ajax.html', function (data) {
        //    modal.open({ content: data });
        //});

        //$('a#howdy').click(function (e) {
        //    modal.open({ content: "Hows it going?" });
        //    e.preventDefault();
        //});
    });
</script>


<script>
    $("#btn1").click(function () {
        $("#p1").toggle(1000);
    });
</script>
